body {
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-areas:
        "header header header"
        "menu main right"
        "menu footer footer";
    grid-gap: 1rem;
    grid-template-columns: 33vh 33vh 33vh;
    grid-template-rows: 33vh 33vh 33vh;
    background-color: red;
}

.o-header {
    grid-area: header;
    padding: 1.5rem;
}

.o-menu {
    grid-area: aside;
}

.o-main {
    grid-area: main;
}

.o-footer {
    grid-area: footer;
    padding: 1.5rem;
}

.gray{
    background-color: gray;
}
