body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr minmax(300px, 60vh) 1.5fr;
    grid-template-areas: 
        "header header header"
        "menu   main   right"
        "menu footer footer";
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.o-header {
    grid-area: header;
    padding: 1.5rem;
    margin: 1% 0.3%;
}

.o-menu {
    grid-area: menu;
}

.o-main {
    grid-area: main;
}

.o-right{
    grid-area: right;
}

.o-footer {
    grid-area: footer;
    padding: 1.5rem;
}

.light-blue{
    background-color: rgb(175, 220, 248);
}

.centralized{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: rgb(4, 156, 250);
}

.margin__one{
    margin: 1%;
}
