*{
    font-family: monospace;
}

.main-container{
    width: 100%;
    margin: 0 auto;
}

.A__div{
    width: 98vw;
    height: 30vh;
    font-size: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.B__div{
    width: 60vw;
    height: 30vh;
    font-size: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1% 1% 1% 0;
    border: 3px solid black;
}

.CD__div{
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-between;
    padding: 3px;
}

.BCD__div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BCDE__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.C__div{
    width: 48%;
    height: 30vh;
    font-size: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.D__div{
    width: 48%;
    height: 30vh;
    font-size: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.E__div{
    width: 40vw;
    height: 63vh;
    border: 3px solid black;
    font-size: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1% 1% 0 1%;
} 

@media (min-width: 320px) and (max-width: 425px){
    .A__div{
        height: 20vh;
    }

    .B__div{
        width: 98vw;
        padding: 0;
    }

    .C__div{
        width: 46%;
        height: 20vh;
    }

    .D__div{
        width: 46%;
        height: 20vh;
    }

    .CD__div{
        width: 98vw;
        padding: 1%;
        justify-content:space-between;
    }

    .BCDE__div{
        width: 98vw;
        height: 80vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .E__div{
        height: 20vh;
        width: 97vw;
        padding: 0;
    }
}
